<!doctype html>
<html lang="en">
{{ partial "head.html" . }}

<body>
  <a class="skip-link" href="#main">Skip to main</a>
  <main id="main">
    <div class="content">
      {{ partial "header.html" . }}
      {{ .Content }}
      {{ if gt (len ( where .Site.RegularPages "Section" "posts" )) 0 }}
      <h1>Latest Posts</h1>
      <section class="latest-posts">
        {{ range (first 3 (where .Site.RegularPages "Section" "posts" ).ByDate.Reverse) }}
        <article class="post-item">
          <a class="link" href="{{ .Permalink }}" title="{{ .Title }}">
            <h2>{{ .Title }}</h2>
          </a>
          <div class="meta">
            <time class="time" datetime="{{ dateFormat " 2006-01-02" .Date }}">{{ dateFormat "Jan 2, 2006" .Date
              }}</time>
          </div>
        </article>
        {{ end }}
      </section>
      {{ end }}
    </div>
  </main>
</body>

</html>